body {
  font-family: Outfit, Helvetica, sans-serif;
  background-color: #313f72;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  height: 1000px;
}

p {
  font-size: 30px;
}

h1 {
    font-size: 100px;
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255)
}

a:hover {
    color:rgb(136, 136, 136)
}

a:active {
    color: rgb(255, 255, 255)
}